.center {
    margin: auto;
    width: auto;
    padding: 200px;
}

.bottom {
    position: absolute;
    bottom: 0;
    background-color: lightgray;
    height: 30px;
    padding-top: 5px;
    padding-left:  5px;
    padding-right: 5px;
}

.button {
    border: none;
    background-color: lightgray;
    color: gray;
    padding: 10px 15px;
    border-radius: 12px;
}

.textbox {
    margin: 10px;
    border: none;
    border-radius: 50px;
    border-color: gray;
}
#searchBox {
    padding-left: 16px;
    max-width: 20%;
    max-height: 20%;
    color: lightgrey;
}

.moveTop {
    padding-left: 500px;
}

.moveBottom {
    padding-left: 200px;
}

.space {
    padding: 10px;
}